
html, body {
    height: 100%;
}

header {
    display: block;
    background-color: #286af0;
    padding: 5px 0px;
    margin-bottom: 5px;
}

.pimagen
{
    text-align: center;
}

.img {
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}

section {
    background-color: #ccc;
    overflow: auto;
    float: right;
    padding: 5px;
    width: 70%;
    min-height: 450px;
}

aside {
    float: left;
    background-color: #fafafa;
}

footer {
    position: relative;
    float: none;
    clear: both;
    background-color: #286af0;
    height: 40px;
    padding: 5px 0;
}

    footer p {
        color: #fff;
        text-align: center;
        text-decoration: underline white;
    }



